/* Navigation Bar Menu */
.navbar {
    padding-left: 5%;
    padding-right: 5%;
    background-color: white !important;
}
.nav-link {
    color:#5C0D5C !important;
    font-family: "Neuton", Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    font-size: 16px;
}
.navbar-brand {
    width: 11%;
    margin-right: 4%;
}
.navLogo {
    width: 100%;
}
.donateButton {
    margin-right: 1%;
    background-color: #4A8FB8;
    color: white;
    border: none;
}
.navigationButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.navButton {
    margin-bottom: 8%;
}
.tab-content {
    padding: 5%;
}
.loginButton {
    background-color: #5C0D5C;
    color: white;
    border: none;
}
.navbar-nav {
    width: 83%;
    display: flex;
    justify-content: space-around;
}


/* Jumbotron Hero Section */
.jumbotron {
    padding: 5%;
    background-color: lightgray;
}
h1 {
  font-family: "Neuton";
  font-weight: bolder !important;
  color: white;
}
.btn-primary {
    background-color: #5C0D5C;
    border: none;
}

/* Donation Tabs */
.donate {
  box-shadow: 2px 5px 5px #5C0D5C;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
}
.donationSection {
    margin-top: 80px;
    border-radius: 20px;
}
.donationMethod {
    width: 33.33%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tab-content {
    height: 250px;
    border-radius: 20px;
}

/* Modal Carousel */
.img-size {
    /* 	padding: 0;
        margin: 0; */
        height: 450px;
        width: 700px;
        background-size: cover;
        overflow: hidden;
    }
    .modal-content {
       width: 700px;
      border:none;
    }
    .modal-body {
       padding: 0;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        width: 30px;
        height: 48px;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        width: 30px;
        height: 48px;
    }

/* Cards */
.container-fluid {
  padding: 6%;
}
.card {
  box-shadow: 2px 5px 8px #5C0D5C;
  border-radius: 20px;
}
.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-title {
  font-size: 24px;
}






  /*FOOTER*/

footer {
  background: #5C0D5C;
  color: white;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

.copy {
  font-size: 12px;
  padding-top: 20px;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

footer .phone {
  padding-bottom: 15px;
}

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #A84AA8;
}

.social-network a.icoLinkedin:hover {
  background-color: #A84AA8;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #A84AA8;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


/* Media Query */

@media (max-width: 767.98px) {

.navigationButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    }   
.navButton {
    margin-bottom: 1%;
    
    }

}





/*Trial for Cards with Overlay */


body {
    background: #f9f9f9;
    font-size: 16px;
    font-family: 'Neuton', sans-serif;
}

.container {
    margin-top: 200px
}

.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}



.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}