* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Typography */
h1 h2 {
  font-family: Neuton, 'Times New Roman', Times, serif;
}
p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
.purple {
  color:#5C0D5C;
  font-family: Neuton, 'Times New Roman', Times, serif;
}


/* Navigation Bar Menu */
.navbar {
    padding-left: 5%;
    padding-right: 5%;
    background-color: white !important;
}
.nav-link {
    color:#5C0D5C !important;
    font-family: "Neuton", Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.navbar-brand {
    width: 11%;
    margin-right: 4%;
}
.navLogo {
    width: 100%;
}
.donateButton {
    margin-right: 1%;
    background-color: #4A8FB8;
    color: white;
    border: none;
}
.navigationButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}
.navButton {
    margin-bottom: 8%;
}
.tab-content {
    padding: 5%;
}
.loginButton {
    background-color: #5C0D5C;
    color: white;
    border: none;
}
.navbar-nav {
    width: 83%;
    display: flex;
    justify-content: space-around;
}

/* Jumbotron Hero Section */
.jumbotron {
    padding: 5%;
    background-color: lightgray;
}
.jumbotron h1 {
  font-family: "Neuton";
  font-weight: bolder !important;
  color: white;
}
.btn-primary {
    background-color: #5C0D5C;
    border: none;
}
.homeJumbotron {
  background-image: url(../images/home\ hero\ crop.jpg);
  background-size: cover;
  background-position: 31%;
  height: 100%;
}
.lead {
  color: white;
}
.homeTitle {
  margin-top: 25vh;
  margin-left: 2%;
}

.pupJumbotron {
  background-image: url(../images/meetourdogs.jpg);
  background-size: cover;
  height: 100%;
}
.pupHeading {
  margin-top: 20vh;
}

/* Donation Tabs */
.donate {
  box-shadow: 2px 5px 5px #5C0D5C;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
  margin-bottom:5%;
}
.donationSection {
    margin-top: 80px;
    border-radius: 20px;
}
.donationMethod {
    width: 33.33%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.tab-content {
    height: 250px;
    border-radius: 20px;
}

.paypal {
  position: absolute;
  right: 0px;
  padding: 20px;
  margin-right: 80px;
  margin-bottom: 40px;
}

.donateJumbotron {
  background-image: url(../images/Donations.jpg);
  background-size: cover;
  height: 500px;
}

.donateHeading {
  margin-top: 20vh;
}

.donorHeading{
  margin-top: 70vh;
  background-color:#f0f0f0d2;
  padding: 20px;
}

.donorJumbotron {
  background-image: url(../images/xan-griffin-UCFgM_AojFg-unsplash.jpg);
  background-size: cover;
  height: 100%;
}

.purpleDonors {
  color:#5C0D5C;
  font-family: Neuton, 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-bottom: 2%;
  margin-left: 2%;
}

/* Purple Card */
.purpleCard {
  background-color:#5C0D5C;
  color: white;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 6%;
  padding: 5%;
  border-radius: 20px;
}
.purpleCard h5 {
  margin-bottom: 2%;
  margin-top: 1%;
  font-weight: bold;
}

.introCard {
  background-color:#5C0D5C;
  color: white;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 1%;
  padding: 2%;
  border-radius: 20px;
}
.introCard h5 {
  margin-bottom: 2%;
  margin-top: 1%;
  font-weight: bold;
}

/* Call to Donate Card */
.call-to-donate {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
  height: 350px;
  margin-top: 5%;
}
.actionInfo {
  width: 35%;
  background-color: #5C0D5C;
  color: white; 
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 6%;
}
.actionInfo h4 {
  margin-top: 20%;
  padding-bottom: 10%;
}
.call-donate-button {
  margin-top: 10%;
}
.actionImage {
  width: 65%;
}
.actionImage img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

.aboutInfo {
  width: 35%;
  background-color: #5C0D5C;
  color: white; 
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 3%;
}

/* Testimonial Card */
.testimonials {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: center;
  margin: 0 auto;
  border-radius: 20px;
  
}
.testimonialInfo {
  width: 65%;
  color: black; 
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  padding: 6%;
  height: 100%;
}
.testimonialInfo h4 {
  margin-top: 20%;
  padding-bottom: 10%;
}
.testimonialImage {
  width: 35%;
  padding: 3%;
}

.yellow-box-shadow {
  box-shadow: 2px 5px 5px #E8AE5A;
}
.orange-box-shadow {
  box-shadow: 2px 5px 5px #F2765E;
}

/* Modal Carousel */
.modalContainer {
  margin-top: -4% !important;
}

.img-size {
    /* 	padding: 0;
        margin: 0; */
        height: 450px;
        width: 700px;
        background-size: cover;
        overflow: hidden;
    }
    .modal-content {
       width: 700px;
      border:none;
    }
    .modal-body {
       padding: 0;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
        width: 30px;
        height: 48px;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
        width: 30px;
        height: 48px;
    }

    .modalTraining {
      margin-bottom: 8%;
    }

  

/* Cards - Regular */
.container-fluid {
  padding: 6%;
}
.card {
  box-shadow: 2px 5px 8px #5C0D5C;
  border-radius: 20px;
}
.card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card-title {
  font-size: 24px;
}

/* Pup Gallery Cards */
.galleryRow {
  margin-bottom: 2.5%;
  margin-top: 2%;
}
.pupCard {
  border-radius: 20px;
  height: 380px;
  position: relative;
}

.pupContent1, .pupContent2, .pupContent3 {
  padding: 15%;
  width: 100%;
}

.pupCard img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit:cover;
}

/*trial for overlay 2*/
.pupImageHolder img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit:cover;
}
.pupImageHolder {
  width: 100%;
  height: 100%;
  object-fit:cover;
}
/*trial ends*/

.pupsDonate {
  margin-bottom: 8%;
}
.trainingHeader {
  margin-top: -1% !important;
}

.pupTitle {
  color: white;
  font-family: "Neuton" Georgia, 'Times New Roman', Times, serif;
  font-weight: bolder;
}
.pupText {
  color: white;
  font-family: "Roboto" Arial, Helvetica, sans-serif !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  border-radius: 20px;
  margin: auto;
  overflow: hidden
}

.pupCard:hover .overlay {
  opacity: 1;
}

/*FOOTER*/

footer {
  background: #5C0D5C;
  color: white;
  margin-top: 5%;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

.copy {
  font-size: 12px;
  padding-top: 20px;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

footer .phone {
  padding-bottom: 15px;
}

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

.social-network a.icoFacebook:hover {
  background-color: #4A8FB8;
}

.social-network a.icoYouTube:hover {
  background-color: #4A8FB8;
}
.social-network a.icoTwitter:hover {
  background-color: #4A8FB8;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoYouTube:hover i, 
.social-network a.icoTwitter:hover i {
  color: white;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #A84AA8;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* 404 Page */
body {
  padding: 0;
  margin: 0;
}

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Neuton', serif;
  color: #DEEBF2;
  font-weight: 900;
  font-size: 276px;
  margin: 0px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound h2 {
  font-family: 'Neuton', serif;
  font-size: 46px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0px;
}

.notfound p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;

  margin-top: 15px;
}

.notfound a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #5C0D5C;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: #fff;
  font-weight: 400;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  background-color: #fff;
  border-color: #5c0d5c;
  color: #5c0d5c;
}

/* Media Query */

@media (max-width: 767.98px) {

.navigationButtons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    }   

.navButton {
    margin-bottom: 1%;
    }

/* About Us Link card */


/* Call to Donate Card */
.call-to-donate {
  display: flex;
  flex-direction: column;
  width: 95%;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 600px;
}
.actionInfo {
  width: 100%;
  height: 30%;
  background-color: #5C0D5C;
  color: white; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  padding: 6%;
}
.actionInfo h4 {
  margin-top: 2%;
  padding-bottom: 2%;
}
.call-donate-button {
  margin-top: 10%;
}
.actionImage {
  width: 100%;
}
.actionImage img {
  height: 60%;
  width: 100%;
  object-fit: cover;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
}
}

@media only screen and (max-width: 480px) {
      .notfound .notfound-404 h1 {
        font-size: 162px;
      }
    }


/* Service page modal */
  .btn-svc a:hover {
    background-color: #fff;
    border-color: #5c0d5c;
    color: #5c0d5c;
  }
  
  .btn-warning {
    background-color: #4a8fb8 !important;
    border: none;
}
.modal-footer btn {
  background-color: #4a8fb8 !important;
}

.white {
  background-color: white;
  color:#5c0d5c;
}

/* about us card */
.bcontent {
  margin-top: 10px;
}


/* Fixed Nav Bar */
body {
  position: relative; 
}
.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.navbar {
  margin-bottom: 0px;
}

.affix ~ .container-fluid {
 position: relative;
 top: 50px;




/* Fade In */
.element.style {
  opacity: 1;
  margin-left: 0px;
}

.fadeonload {
  opacity: 0;
  margin-left: -300px;
  max-width: 100%;
}